<hdr>Derp Pamphlet: <b>List Of Users</b></hdr>
<br>
<br>
<br>


<%= form_tag users_path, :method=> 'get' do %>
  <p>
    <%= text_field_tag :search, params[:params] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<%= render @users %>
